<h1 id="autolinks">Autolinks</h1>

<p>The following URLs will be autolinked:</p>

<ul>
  <li><a href="https://www.google.com">https://www.google.com</a> ! This is google</li>
  <li><a href="https://google.com/">https://google.com/</a></li>
  <li><a href="ftp://ftp.us.debian.org/debian/">ftp://ftp.us.debian.org/debian/</a></li>
  <li><a href="smb://foo/bar/baz">smb://foo/bar/baz</a></li>
  <li><a href="irc://irc.freenode.net/gitlab">irc://irc.freenode.net/gitlab</a></li>
  <li><a href="http://localhost:3000">http://localhost:3000</a></li>
  <li>This is an email: <a href="mailto:john.doe@example.com">john.doe@example.com</a> .</li>
  <li>URL with ampersand: <a href="http://www.example.com/?doit&amp;x=y">http://www.example.com/?doit&amp;x=y</a> !</li>
  <li>[http://about.gitlab.com] should not be autolinked</li>
  <li>It does not collide with regular references like: <a href="https://gitlab.com/gitlab-com/www-gitlab-com">http://about.gitlab.com</a>:</li>
</ul>

<blockquote>
  <p>It works even inside other blocks: <a href="https://www.google.com">https://www.google.com</a></p>
</blockquote>

<pre><code>Doesn't work inside code-blocks: https://www.google.com
</code></pre>
